<div class="edit-todo">

  <form class="edit-form" [formGroup]="editForm" novalidate (ngSubmit)="onSubmit(editForm.value)">
    <h2>Edit ToDo</h2>
    <mat-form-field class="input-style">
      <input matInput placeholder="Todo Name" class="form-control" formControlName="name">
    </mat-form-field>
    <mat-form-field class="input-style">
      <textarea matInput placeholder="Todo Description" class="form-control" formControlName="description"></textarea>
    </mat-form-field>

    <mat-checkbox class="form-checkbox" formControlName="isDone">Todo completed</mat-checkbox>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <select matNativeControl required formControlName="priority">
        <option value="0">HIGHT</option>
        <option value="1">MEDIUM</option>
        <option value="2">LOW</option>
      </select>
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button class="submit-button" color="primary" type="submit">Save</button>
      <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
